/* .contact__articles{
  display:grid;
  grid-template-columns: 1fr;
  row-gap:1.5rem;
  border:1.5px;
  background-color:aquamarine;
  width:max-content;
  border-radius:1rem;
  padding:1rem;
  color:black;
  text-align:center;
}

.contact__articles a{
  color:rgb(6, 14, 255);
}

.contact__options{
  display:grid;
  row-gap:1rem;
} */

.container.contact__container{
  width:58%;
  display:grid;
  grid-template-columns: 30% 58%;
  gap:12%;
}

.contact__options{
  display:flex;
  flex-direction:column;
  gap:1.2rem;
}

.contact__option{
  background-color:var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align:center;
  border:1px solid transparent;
  transition:var(--transition);
  color:black;
}

.contact__option a{
  color:rgb(0, 170, 255);
}
.contact__option a:hover{
  color:var(--color-bg-variant);
}

.contact__option:hover{
  background:transparent;
  border-color:white;
  color:white;
}

.contact__option-icon{
  font-size:1.5rem;
  margin-bottom:0.5rem;
}


form{
  display:flex;
  flex-direction:column;
  gap:1.2rem;
}

input,textarea{
  width:100%;
  padding:1.5rem;
  border-radius:0.5rem;
  background:transparent;
  border:2px solid rgb(253, 178, 39);
  resize:none;
  color:white;
  font-size:1rem;
}

@media screen and (max-width: 1024px) {
  .container.contact__container{
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
  
@media screen and (max-width: 600px) {
  .container.contact__container {
    width:var(--container-width-sm);
  }
}