.experience__container{
  display:grid;
  grid-template-columns: 1fr 1fr ;
  gap: 2rem;
}
.experience__container > div{
  background: rgb(47, 255, 210);
  padding:2.5rem 5rem;
  border-radius:2rem;
  border:1px solid transparent;
  color:black;
  transition:var(--transition);
}

.experience__container > div:hover{
  background:rgb(255, 65, 22);
  color:white;
}

.experience__container > div h3{
  text-align:center;
}

.experience__content{
  display:grid;
  grid-template-columns: 1fr 1fr;
  row-gap:2rem;
}

.experience__details{
  display:flex;
  gap:1rem;
}

@mediawidth and ( max-width: 1024px) {
  .experience__container{
    grid-template-columns: 1fr;
  }
  .experience__container >div{
    width:80%;
    padding:2rem;
    margin:0 auto;
  }
  .experience__content{
    padding: 1rem;
  }
}

@mediawidth and ( max-width: 600px) {
  .experience__container{
    gap:1rem;
  }
}
.experience__container > div{
  width:100%;
  padding:2rem 1rem;
}
